html{
    background-color: #e4e0d6;
}
body{
    background-color: #e4e0d6;
    width: 1400px;
    height: auto;
    margin: 0 8%;
    font-family: Supermolot, sans-serif;
}
header{
    width: 1172px;
    height: 120px;
    position: absolute;
    margin-top: 27px;
}
.hidden{
    display: none;
}

/* логотип Super Shop */
#shop_logo{
    width: 170px;
    height: 120px;
    background-color: #ed1651;
    font-size: 34.68px;
    font-family: "Supermolot";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.756;
    text-align: left;
    position: absolute;
    z-index: 10;
}
#shop_logo a{
    text-decoration: none;
    color: #fff;
}
.super{
    font-size: 95%;
    padding-top: 28px;
    padding-left: 31px;
}
.shop{
    font-size: 115%;
    width: 140px;
    font-weight: 600;
    margin-left: 31px;
    margin-top: 5px;
}

/* main Menu */
.menu_bg{
    width: 1170px;
    height: 62px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}
.mainNav{
    line-height: 62px;
    width: 1170px;
    margin-left: 170px;
}
.mainNav li{ 
    width: 131px; 
    height: 60px; 
    float: left;
}
.mainNav a{
    width: 130px;
    font-size: 14px;
    font-family: "Supermolot";
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding-left: 23px;
}
.menu_bg hr {
    width: 865px;
    height: 3px;
    background-color: #f1f1f1;
    z-index: 3;
    position: absolute;
    margin: 59px 170px;
    border: none;
}
.mainNav a:hover{
    color: #fff;
    background-color: #021563;
}

/* Регистрация */
.reg_bar{
    margin: 22px 0;
    font-size: 14px;
    font-family: "Supermolot";
    line-height: 1.2;
    text-align: left;
    z-index: 8;
    position: relative;
    float: right;
    width: 210px;
}
.user_enter{
    position: absolute;
    color: #ed1651;
    width: 16px;
    height: 16px;
    max-width: none;
}
.red{
    border-bottom: 1px dashed #ed1651;
    margin-left: 20px;
    position: absolute;
    color: #ed1651;
    letter-spacing: 0.3px;
    font-weight: 300;
}
.reg{
    position: absolute;
    margin-left: 80px;
    letter-spacing: 0.3px;
    font-weight: 300;
    border-bottom: 1px dashed #999;
}

/* Backet */
.backet{
    background-color: #021563;
    position: absolute;
    left: 976px;
    top: 60px;
    width: 194px;
    height: 60px;
    z-index: 14;
    color: #fff;
}
.backet img{
    float: right;
    margin-right: 13px;
    margin-top: 12px;
}
.backet_value{
    font-size: 20px;
    font-family: "Supermolot";
    color: #fff;
    margin-top: 1px;
    float: left;
}
.backet_item_value{
    font-family: "Supermolot";
    color: #999;
    line-height: 1.2;
    font-size: 75%;
    float: left;
    margin-left: 13px;
}
.item_quanity, .backet_item_value p{
    float: left;
}
.backet_sum{
    float: left;
    display: inline-block;
    margin-top: 8px;
    margin-left: 12px;
    font-weight: 600;
    font-family: "Supermolot";
    letter-spacing: 0.8px;
}
.type_money{
    float: left;
    margin-top: 14px;
    margin-left: 5px;
    display: inline-block;
    font-size: 70%;
}

/* Jumbotron */
.jumbotron{
    width: 1400px;
    height: 710px;
    float: left;
    position: relative;
    left: -111px;
    overflow: hidden;
}
.name_promo_item{
    position: absolute;
    top: 222px;
    left: 114px;
    font-family: "Supermolot";
    color: #000;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 0.95;
    letter-spacing: -2px;
    width: 565px;
}
.promo_desc{
    font-size: 16px;
    font-family: "Supermolot";
    color: #fff;
    line-height: 1.5;
    text-align: left;
    position: absolute;
    top: 360px;
    left: 115px;
    width: 600px;
}
.background_text{
    position: absolute;
    letter-spacing: -8px;
    top: 236px;
    left: -128px;
    width: 1500px;
    font-size: 346px;
    font-family: "Supermolot";
    color: rgba(51, 51, 51, 0.078);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.264;
    text-align: left;
    z-index: 5;
    white-space: nowrap;
    box-sizing: border-box;
}
a.about_promo{
    font-weight: 200;
    position: absolute;
    background: none;
    left: 384px;
    top: 429px;
    width: 250px;
    padding: 16px 30px 16px 56px;
    font-size: 18px;
    font-family: "Supermolot";
    color: #fff;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    border: 3px solid #ed1651;
}
/* h1 */
h1{
    font-size: 72.666px;
    font-weight: 200;
    font-family: "Supermolot";
    color: rgb(0, 0, 0);
    font-style: italic;
    text-transform: uppercase;
    z-index: 15;
    margin: 178px 0 0;
    float: left;
    letter-spacing: -3.1px;
    width: 1170px;
}
/* h1 */
h2{
    float: left;
}

/* New items* & *Best Saler */
.first_slider, .second_slider{
    width: 1172px;
}
.best_salers{
    width: 1172px;
    height: 402px;
    background-color: #fff;
    float: left;
    margin-top: 30px;
}
.new_items{
    width: 1172px;
    height: 727px;
    background-color: #fff;
    float: left;
    position: relative;
    margin-top: -80px;
    z-index: 20;
}
.new_item_title, .best_item_title{
    width: 1046px;
    margin: 25px 30px;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-family: "Supermolot";
    color: #021562;
    line-height: 1.2;
    text-align: left;
}
.arrow_right{
    float: right;
    margin: 32px 30px 27px 10px;
}
.arrow_left{
    float: right;
    margin-top: 32px;
}
/* каточки товаров в блоке новых товаров  & блоке популярных товаров & карточки категории1 */
article{
    box-sizing: border-box;
    width: 293px;
    height: 324px;
    line-height: 1.286;
    text-align: left;
    border: 1px solid #f6f6f6;
    display: inline-block;
    float: left;
    background: #fff;
}
.img_conteiner{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 10px auto;
}
.img_conteiner img{
    max-width: 290px;
    max-height: 220px;
}
.item_name{
    font: 14px "Supermolot", sans-serif;
    display: inline-block;
    z-index: 15;
    margin-top: 20px;
    margin-left: 28px;
    color: rgb(85, 85, 85);
    width: 145px;
}
.price_conteiner{
    float: right;
}
.item_price{
    margin-top: 33px;
    margin-right: 20px;
    z-index: 15;
    font: italic 18px "Supermolot", sans-serif;
    color: #ed1651;
    line-height: 1.2;
    text-align: right;
}
.old_price{
    font-size: 14px;
    font-family: "Supermolot";    
    color: rgb(153, 153, 153);
    font-style: italic;
    text-decoration: line-through;
    line-height: 1.2;
    text-align: right;
    margin: 14px 30px 6px 10px;
    position: absolute;
}
/* Метки "горячее"/"новое"/"распродажа" */
.hot_mark, .new_mark, .sale_mark{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 48px solid #fff001;
    border-right: 48px solid transparent;
}
.new_mark{
    border-top: 48px solid #17c7be;
    border-right: 48px solid transparent;
}
.sale_mark{
    border-top: 48px solid #ed1651;
    border-right: 48px solid transparent;
}
.hot_mark p, .new_mark p, .sale_mark p{
    font-size: 9px;
    font-family: "Supermolot";
    color: #fff;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: -40px;
    left: 5px;
    color: #fff;
}
.hot_mark p{
    color: #000;
}

/* Секция банеров */
.banners{
    width: 1182px;
    height: 312px;
    z-index: 16;
    margin-top: 30px;
    float: left;
    position: relative;
    overflow: hidden;
}
.banner_one{
    float: left;
    background: url('../img/banners/banner_one.png');
}
.banner_two{
    background: url('../img/banners/banner_two.png');
    float: left;
}
.banner_three{
    float: left;
    background: url('../img/banners/banner_three.png');
}
/* Костыль для img (убирает отступы(пробелы)) */
.banner_two, .banner_three{ 
    margin-left: -4px; 
}
.banner_one strong, .banner_two strong, .banner_three strong{
    font-size: 32px;
    font-family: "Supermolot";
    color: #000;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.125;
    text-align: left;
    position: absolute;
    width: 248px;
    height: 59px;
    z-index: 15;
}
.banner_one p, .banner_two p, .banner_three p{
    font-size: 32px;
    font-family: "Supermolot";
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.125;
    text-align: left;
    position: absolute;
    top: 215px;
    width: 300px;
    height: 59px;
    z-index: 16;  
}
.banner_three{
    color: #fff;
}
.banner_one p{
    left: 22px;
}
.banner_two p{
    left: 322px;
}
.banner_two strong{
    margin-left: 55px;
}
.banner_three p{
    left: 618px;
    color: #fff;
}
.banner_three strong{
    color: #fff;
}

/* About shop */
.about_shop{   
    height: 312px;
    width: 1172px;
    float: left;
    margin-top: 30px;
    position: relative;
}
.about_shop h1{
    position: absolute;
    top: 65px;
    left: 600px;
    font-size: 24px;
    font-family: "Supermolot";
    color: rgb(2, 21, 98);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}
.about_shop p{
    font-size: 14px;
    font-family: "Supermolot";
    color: rgb(34, 36, 41);
    font-weight: 300;
    line-height: 1.714;
    text-align: left;
    width: 521px;
    height: 165px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 600px;
}

/* Footer */
footer{
    background-color: #01104c;
    z-index: 21;
    width: 1172px;
    height: 59px;
    float: left;
    margin-top: 25px;
    font-family: "Supermolot";
}
footer p{
    font-size: 11px;
    color: rgba(153, 153, 153, 0.702);
    line-height: 1.182;
    float: left;
    margin: 10px;
}
.arrow_up{
    background: url("arrow_up.png");   
}
footer span a{
    color: #fff;
    float: right;
    margin: 20px;
    text-decoration: none;
}
.about_shop h1{
    margin: 0px;
}

/* 404 */
section.error_page{
    float: left;
    background: url(../img/404/kot-kosmonavt.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 810px;
}
section.error_page h2{
    float: left;
    width: 1170px;
    font-size: 50.666px;
    font-weight: 200; 
    font-family: "Supermolot";
    color: rgb(0, 0, 0);
    font-style: italic;
    text-transform: uppercase;
    float: left;
    letter-spacing: -3.1px;
}
section.error_page h3{
    float: left;
    font-size: 40.666px;
    font-weight: 400; 
    font-family: "Supermolot";
    color: rgb(0, 0, 0);
    font-style: italic;
    text-transform: uppercase;
    float: left;
    letter-spacing: -3.1px;
}
/* background-color:#2c2f3c; */



