#slider {
	width: 470px;
	height: 510px;
	margin: 0 auto 10px;
	overflow: hidden;
	position: relative;
	padding: 15px 0px;
}
#slider ul {
	overflow: hidden;
	zoom: 1;
}
#slider ul li {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    float: left;
    width: 470px;
    height: 470px;
    line-height: 470px;
}
#slider ul li img{
    height: 450px;
    margin: 10px;
}
#slider a {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 2em;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -15px;
    text-decoration: none;
    background: #000;
}
#slider a#sliderNext {
    right: 0;
}
#pager {
    text-align: center;
}
#pager a {
    margin: 0 8px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#pager a img{
    width: 58px;
    height: 58px;
}
#pager a.active {
    border: 2px solid grey;
}
#pager a:hover{
    border: 2px solid red;
}